.sigin-wrap{
    background-image: url(https://pngtree.com/freebackground/science-or-technology-background-with-dynamic-particles-trendy-colorful-design-template-applicable-for-banners-posters-placards-flyers-covers-presentations-identity-social-media-websites_1226624.html);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}