.sigin-wrap{
    background-image: url(https://i.pinimg.com/736x/3d/d6/46/3dd64693bc746c5edb1677ce9db56480.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}